:root {
  --filename: black;
  --file-date: rgb(143, 143, 143);
  --outline: rgb(206, 206, 206);
  --file-icon-outline: rgb(80, 80, 255);
  --search-hover: rgb(242, 248, 255);
  --search-icon-outline: black;
}

.dark {
  --filename: rgb(223, 223, 223);
  --file-date: rgb(153, 153, 153);
  --outline: rgb(58, 58, 73);
  --file-icon-outline: rgb(80, 127, 255);
  --search-hover: rgb(40, 41, 59);
  --search-icon-outline: white;
}

#welcome-card {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#welcome-card h5{
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(90deg, #ff55be, #485aff);
  background-size: 300%;
    -webkit-background-clip: text; /* Chrome, Safari */
  -webkit-text-fill-color: transparent; /* needed for the clip */
  background-clip: text; /* standard syntax (Firefox behind flag) */
  -webkit-text-fill-color: transparent;
  animation: moveGradient 8s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

#files-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 5px;
    border: 1px solid var(--outline);
}

#file-search-section {
    display: flex;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#file-search-field {
    height: 100% !important;
    line-height: 40px !important;
    padding: 0 12px !important;
    border-radius: 20px 0 0 20px;
    border: 1px solid var(--outline) !important;
    box-sizing: border-box;
    margin: 0 !important;
}

#file-search-btn {
    height: 100% !important;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    border: 1px solid var(--outline);
    border-left: none;
    background: transparent;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
}

#file-search-btn svg {
    width: 32px;
    height: 32px;
    color: var(--search-icon-outline);
}

#file-search-field:hover,
#file-search-btn:hover {
    background-color: var(--search-hover);
}

#file-search-field:focus,
#file-search-btn:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid var(--outline) !important;
}

#files-list {
    border: 1px solid var(--outline);
    height: 60vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.file-item {
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.file-item:hover {
  background-color: #828efa75;
}

.file-icon {
  width: 24px;
  height: 24px;
  color: var(--file-icon-outline);
  margin-right: 5px;
}

.filename {
  color: var(--filename);
}

.file-date{
  color: var(--file-date);
  font-size: 9pt;
}