#welcome-card {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#welcome-card h5{
  font-size: 2em;
  font-weight: bold;
  background: linear-gradient(90deg, #ff55be, #485aff);
  background-size: 300%;
    -webkit-background-clip: text; /* Chrome, Safari */
  -webkit-text-fill-color: transparent; /* needed for the clip */
  background-clip: text; /* standard syntax (Firefox behind flag) */
  -webkit-text-fill-color: transparent;
  animation: moveGradient 8s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

#files-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 5px;
}

#file-search-section {
    display: flex;
    gap: 0;
    margin-bottom: 30px;
}

#file-search-field {
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
    border: 1px solid rgb(206, 206, 206);
    height: 40px;
    transition: background-color 0.3s ease;
}

#file-search-field:hover {
    background-color: white;
}

#file-search-btn {
    border: 1px solid rgb(206, 206, 206);
    background-color: transparent;
    border-radius: 0 20px 20px 0;
    height: 42px;
    transition: background-color 0.3s ease;
}

#file-search-btn:hover {
    background-color: white;
}

#file-search-field:focus,
#file-search-btn:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid rgb(206, 206, 206) !important;
}

#files-list {
    border: 1px solid rgb(206, 206, 206);
    height: 60vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}


.file-item {
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.file-item:hover {
  background-color: #828efa75;
}

.file-icon {
  width: 24px;
  height: 24px;
  color: rgb(80, 80, 255);
  margin-right: 5px;
}

.file-date{
  color: rgb(143, 143, 143);
  font-size: 9pt;
}