:root {
  --body: #fafafa;
  --sidebar: #fff;
  --sidebar-border: #eee;
  --sidebar-border-left: #5454ff;
  --sidebar-username: #111;
  --sidebar-list: #333;
  --upload-image: rgba(0, 0, 0, 0.5);
  --sidebar-hover: #f0f0ff;
  --sidebar-text-hover: #000;
  --browse-btn-bg: #cccccc3b;
  --browse-btn-text: rgba(0, 0, 0, 0.705);
  --upload-gradient-left: #ff55be;
  --upload-gradient-right: #485aff;
  --upload-text: #fafafa;
  --dialog-gradient-left: #ffffffd3;
  --dialog-gradient-right: #ffffff56;
  --browse-btn-hover: #ffffff;
  --heading: #000;
}

.dark {
  --body: #1f1f25;
  --sidebar: #16171d;
  --sidebar-border: #1b1b1b;
  --sidebar-border-left: #2d6fff;
  --sidebar-username: #ddd;
  --sidebar-list: #eee;
  --upload-image: rgba(0, 0, 0, 0.5);
  --sidebar-hover: #5d5d74;
  --sidebar-text-hover: #dceeff;
  --browse-btn-bg: #7777773b;
  --browse-btn-text: rgba(219, 219, 219, 0.705);
  --upload-gradient-left: #a51bdb;
  --upload-gradient-right: #7da6ff;
  --upload-text: #fafafa;
  --dialog-gradient-left: #413939d3;
  --dialog-gradient-right: #22255356;
  --browse-btn-hover: #111111f6;
  --heading: #ebebeb;
}

body {
  margin: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body);
}

h1, h2, h3, h4, h5 {
  color: var(--heading);
  font-weight: 100;
}

.sidebar {
  width: 240px;
  background: var(--sidebar);
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid var(--sidebar-border);
  color: var(--sidebar-username);
}

.sidebar .menu {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.sidebar .menu li {
  margin: 10px 0;
}

.sidebar .menu a {
  color: var(--sidebar-list);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-left: 3px solid transparent;
  transition: all 0.2s ease;
}

.sidebar .menu a:hover {
  background: var(--sidebar-hover);
  border-left: 3px solid var(--sidebar-border-left);
  color: var(--sidebar-text-hover);
}

.sidebar .menu i {
  margin-right: 10px;
  font-size: 20px;
}

.main-content {
  margin-left: 240px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#profile-pic {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-pic .icon {
  width: 24px;
  height: 24px;
}

#profile-pic:hover {
  background-color: rgba(0,0,0,0.05);
}

.content {
  padding: 20px;
}

.dropzone {
    width: 100%;
    padding: 100px;
    border-radius: 10px;
    border: 1px dashed rgb(144, 147, 148);
    background-color: rgba(253, 254, 255, 0.192);
    transition: background-color 0.3s ease-in-out;
    cursor: default;
    text-align: center;
    justify-self: center;
}

.icon {
    width: 34px;
    padding-right: 10px;
}

#plus-icon {
    width: 20px;
    padding-right: 5px;
    padding-top: 3px;
}

#upload-image {
    width: 45px;
    justify-self: center;
    color: var(--upload-image);
}

#browse-btn {
    border-radius: 20px;
    width: 250px;
    height: 35px;
    border: none;
    background-color: var(--browse-btn-bg);
    color: var(--browse-btn-text);
    transition: background-color 0.2s ease-in-out;
    backdrop-filter: blur(1px);
}

#browse-btn:hover {
    background-color: var(--browse-btn-hover);
}

#upload-btn {
  border-radius: 20px;
  width: 200px;
  height: 32px;
  border: none;
  background: linear-gradient(40deg, var(--upload-gradient-left), var(--upload-gradient-right));
  color: var(--upload-text);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-size: 200% 200%;
  transition: transform 0.3s ease, background-position 0.5s ease-in-out;
}

#upload-btn svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

#upload-btn:hover {
  background-position: right center;
  transform: scale(1.02);
}


.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: linear-gradient(70deg, var(--dialog-gradient-left), var(--dialog-gradient-right));
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.3);
  display: none;
  flex-direction: column;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  backdrop-filter: blur(1px);
}

.dialog.active {
  display: flex;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 900;
  display: none;
  
}

.dialog-overlay.active {
  display: block;
}

#file-upload-dialog {
    width: 500px;
    height: 400px;
    z-index: 1000;
}

.btn-section {
    display: flex;
    justify-content: center;
}

.dialog-decoration {
    height: 30px;
    display: flex;
    justify-content: right;
    padding: 10px;
}

.dialog-decoration svg {
    width: 25px;
    height: 25px;
    transition: color 0.2s ease;
}

.dialog-decoration svg:hover {
    color: white;
}

.view-card {
  opacity: 0;
  padding: 20px;
  transform: translateY(5px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.view-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.switch input[type="checkbox"]:checked + .lever {
    background-color: #293444 !important;
}

.switch input[type="checkbox"]:checked + .lever:before {
    background-color: #2960f867 !important;
}

.switch input[type="checkbox"]:checked + .lever:after {
    background-color: #2961f8 !important;
}